<header>Bookmark Manager</header>
<div class="form-entry">
    <h1>Login</h1>
    <%- include ("partials/messages") %>
    <form action="/users/login" method="POST">
        <div class="form-item">
            <label for="email">Email</label><br>
            <input type="email" id="email" name="email" placeholder="Email">
        </div>
        <div class="form-item">
            <label for="password">Password</label><br>
            <input type="password" id="password" name="password" placeholder="Password">
        </div>
        <input type="submit" value="Login">
    </form>
    <p class="switch-link">
        No Account? <a href="/users/register">Register</a>
    </p>
</div>
